.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em ;
}
.skills h2{
   color: var(--greenLight);
   font-size: 2em;
   margin-bottom: 1em;
}
.skills__icons label{
  margin-right: 1em;
  transition: color 1s;
}
.skills__icons label:hover{
  color: var(--greenLight);
  transition: color 1s;
}
.skills__icons{
  font-size: 3em;
}
