.footer{
  background: var(--blueLight);
  height: 60px;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.footer p{
  vertical-align: bottom;
}
@media screen and (max-width:576px) {
 .footer{
  margin-top: 2em;
  font-size: 0.8em;
 }
}